@font-face {
  font-family: 'playfair-regular';
  src: url(../assets/font/PLAYFAIRDISPLAY-REGULAR.TTF)
}

@font-face {
  font-family: 'playfair-bold';
  src: url(../assets/font/PLAYFAIRDISPLAY-BOLD.TTF)
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: playfair-regular;
}

h1 {
  line-height: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

a:hover {
  font-weight: bold;
  color: black;
}

.header, .tile-wrapper {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

.header {
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.header nav li {
  list-style: none;
  float: left;
  margin-left: 60px;
}

.tile-wrapper {
  flex-wrap: wrap;
}

.tile-wrapper .tile {
  border: 1px solid #fff;
  flex: 0 0 33.33%;
  height: 100px;
  background-color: #eee;
  /*background-image: url(../assets/img/illustration_small.jpg);*/
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 50px;
}

.tile-wrapper .tile p {
  font-size: 20px;
}

.tile-wrapper .tile hr {
  border: 1.5px solid black;
  width: 60px;
  margin-top: 20px;
}

.tile-wrapper .tile h2 {
  font-size: 58px;
  line-height: 50px;
}

.tile-wrapper .tile p {
  font-size: 18px;
}

.tile-wrapper .tile-pseudo {
  background-color: #333 !important;
  position: absolute;
  transform-origin: top left;
}

.tile-wrapper .tile-pseudo.tile-pseudo-x {
  animation: .5s ease tilt-x;
}

.tile-wrapper .tile-pseudo.tile-pseudo-y {
  animation: .5s ease tilt-y;
}

@keyframes tilt-x {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes tilt-y {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@media screen and (max-width: 1400px) {
  .header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 700px) {
  .tile-wrapper {
    flex-wrap: wrap;
  }

  .tile-wrapper .tile {
    flex-basis: auto;
  }
}